{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}


{% block body %}

<h4>Fill this form.We will contact you shortly</h4>

<div class="container mb-3 py-4">
<form method="post" action="/contact" >
{% csrf_token %}
<div class="form-group, mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="name" class="form-control" id="name" name="name" placeholder="enter your name">
</div>
<div class="form-group, mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="enter your email">
</div>
<div class="form-group, mb-3">
  <label for="phone" class="form-label">Phone no</label>
  <input type="phone" class="form-control" id="phone" name="phone" placeholder="enter your phone number">
</div>
<div class="form-group, mb-3">
  <label for="desc" class="form-label">Reason to contact</label>
  <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
</div>
<button type="submit" onclick="myFunction()" class="btn btn-primary">Submit</button>
</form>
<script>
  function myFunction() {
    alert("Form Submitted");
  }
</script>

</div>

{% endblock body %}
