{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}


{% block body %}

<h4>Fill this form.We will contact you shortly</h4>

<div class="container mb-3 py-4">
<form method="post" action="/services" >
{% csrf_token %}
<div class="form-group, mb-3">
  <input type="text" class="form-control" name="name1" placeholder="enter your name">
</div>
<div class="form-group, mb-3">
  <input type="text" class="form-control" name="name2" placeholder="sending to">
</div>

<div class="form-group, mb-3">
  <input type="amount" class="form-control" id="amount" name="amount" placeholder="enter amount">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock body %}
